
*{
    padding: 0;
    margin: 0;
}
body{
  font-family: "Suwannaphum", serif;
  font-weight: 300;
  font-style: normal;
}
.head-background{
    background-color: #d68910 ;
}
.head-background .head-box-1 ul{
    list-style-type: none;
    float: right;
}
.head-background .head-box-1 li.txt-menu a{
    text-decoration: none;
   
    border-radius: 4px;
    padding: 10px;
    color: white;

}
.head-background .head-box ul{
    list-style-type: none;
}
.head-background .head-box ul li{
    float: left;
}
.head-background .head-box ul li a{
    padding: 2px 3px;
}
.head-background .head-box ul li.logo{
    width: 100px;
    height: 55px;
    /* background-color: red; */
    padding: 10px;
}
.head-background .head-box ul li.logo img{
    width: 100%;
    height: 100%;
    
}
.head-background .head-box ul li a input{
    width: 200px;
    margin: 10px;
    outline: none;
    border-radius: 4px;
    padding: 10px;
}
.head-background .head-box ul li a select{
    width: 150px;
    margin: 10px;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
}
.head-background .head-box ul li.txt-search{
  
    border-radius: 4px;
    padding: 10px;
    color: white;
    
}
.frm-heigth{
    margin: 10px;
    
}
.cambo h4{
    /* background-color: red; */
    padding: 20px;
}
.like-share ul{
    float: right;
    padding-right: 20px;
    list-style-type: none;
}
.like-share ul li{
    float: left;
}
.like-share ul li a{
    color: #eee;
    padding: 15px 10px;
    text-decoration: none;
    background-color: blue;
    display: flex;
    width: 75px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* .box-22{
    background-color: rebeccapurple;
   
} */
    .box-22-box{
        border: 1px solid grey;
    }
    .box-23-box{
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }
.box-22 .box-22-box .box-lo{
    /* background-color: #d68910; */
    width: 100%;
    height: 230px;
    position: relative;
}
.box-22 .box-22-box .box-lo .box-1-img{
    width: 100%;
    height: 70%;
    /* background-color: black; */

    /*
    background-color: red; */
}
.box-22 .box-22-box .box-lo .box-1-img .box-img-img{
    width: 85px;
    height: 85px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    /* background-color: rgb(0, 255, 38); */
    position: absolute;
    top: 16%;
    left: 27%;
    transform: translate(50,-50);
    border-radius: 4px;
    border: 1px solid grey;
}
.box-22 .box-22-box .box-lo .box-1-img .box-img-img img{
    width: 100%;
    height: 100%;
}
.box-22 .box-22-box .box-lo .title-l-r{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.box-22 .box-22-box .box-lo .title-l-r h4{
    font-size: 18px;
}
.box-23-box .left-rigth .box-rigth h4{
    font-size: 18px;
}
.box-23-box .left-rigth .box-left h4{
    font-size: 18px;
}
.box-23-box .left-rigth {
    display: flex;
    justify-content: space-between;
    
}
.box-left, .box-rigth {
    float: right;
    width: 50%; 
    /* background-color: #f0f0f0; */
    padding: 10px;
    margin-top: 24px;
}

.footer-1 .f-1{
    height: 2៨0px;
    /* background-color: pink; */
}
.footer-1 .f-1 .box-footer{
    /* background-color: yellow; */
    height: 100%;
    
}

.footer-1 .f-1 .box-footer .title-footer-name h4{
    padding: 17px;
    
}

.footer-1 .f-1 .box-footer .u-l ul li{
    line-height: 40px;
    margin-left: 15px;
}

.line-1 .line-2{
    
    margin-top: 15px;
    /* background-color: yellow; */
}

.line-1 .line-2 .box-all-line{
    float: right;
}
.line-1 .line-2 .line-1-box{
    height: 250px;
    /* background-color: red; */
}
.line-1 .line-2 .line-1-box h4{
    font-size: 16px;
}
.line-1 .line-2 .line-1-box .box-all-line a{
  padding-left: 15px;
  color: grey;
  line-height: 40px;
}
/* left menu for fone*/

.popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
/* .bar{
 
  width: 100%;
  height: 45px;
} */
.bar .txt-name-1{
  float: left;
  margin-top: 7px;
  color: #7fb3d5;
  padding-left: 8px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.bar .icon-menu h4{
  float: right;
  padding-right: 8px;
  margin-top: 7px;
  color: #7fb3d5;
}
.popMenu{
  /* margin-top: -25px; */
    width: 280px;
    height: 100%;
    position:fixed ;
    color: #eee;
    background-color: #d68910;
    z-index: 1800;
    left: -282px;
    transition: 0.5s;
}
.popMenu ul li{
    float: left;
    width: 100%;
}
.popMenu ul li{
  list-style-type: none;
}
.popMenu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-bottom:1px solid white ;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 18px;
    /* color: #7fb3d5; */
    
}







/*Extra large device (large destops, 1200px and up*/
@media (min-width:1200px){

        .box-22-box{
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }
    .box-23-box{
        margin-top: 10px;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }


}
/*large devise (destops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
    .box-22 .box-22-box .box-lo{
        top: 27%;
         transform: translate(50,-50);
    }
    .box-22 .box-22-box .box-lo .box-1-img .box-img-img{
    width: 85px;
    height: 85px;
    top: 16%;
    left: 18%;

    }
    .box-left{
        width: 100%;
    }
    .box-rigth{
        width: 100%;
    }
    .box-23-box .left-rigth {
    display: flex;
    flex-wrap: wrap;
    }
        .box-22-box{
           
        border-top: 1px solid grey;
        /* border-top: 1px solid grey; */
        border-right: 1px solid grey;
    }
    .box-23-box{
        margin-top: 10px;
        /* border-bottom: 1px solid grey; */
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        /* border-left: 1px solid grey; */
    }

}
/*meduim devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
        .box-left{
        width: 100%;
    }
    .box-rigth{
        width: 100%;
    }
    .box-23-box .left-rigth {
    display: flex;
    flex-wrap: wrap;
    }
    .box-22 .box-22-box .box-lo .box-1-img .box-img-img{
    width: 85px;
    height: 85px;
    top: 16%;
    left: 44%;

    }
    .box-left, .box-rigth{
        padding: 2px;
    }
       .box-22-box{
        border-bottom: none;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }
    .box-23-box{
        border-bottom: 1px solid grey;
        border-top: none;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
    }
    .find-box{
        display: none;
     }
    .box-6-bg .two-2-box-2 .find-work .title-find-work .txt-find h4{
        padding-left: 10px;
    }
    .head-background .h-b .head-box ul li a.find-box{
        display: none;
    }

    .head-background .head-box ul li.logo{
    margin-top: 6px;
    }


}
/*small device (landscape phone, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
    .box-left{
        width: 100%;
    }
    .box-rigth{
        width: 100%;
    }
    .box-23-box .left-rigth {
    display: flex;
    flex-wrap: wrap;
    }
    .box-22 .box-22-box .box-lo .box-1-img .box-img-img{
    width: 85px;
    height: 85px;
    top: 16%;
    left: 39%;

}
   .box-22-box{
        border-bottom: none;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
    }
    .box-23-box{
        border-bottom: 1px solid grey;
        border-top: none;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
    }
    .find-box{
        display: none;
     }
    .box-6-bg .two-2-box-2 .find-work .title-find-work .txt-find h4{
        padding-left: 10px;
    }
    .head-background .h-b .head-box ul li a.find-box{
        display: none;
    }

    .head-background .head-box ul li.logo{
    margin-top: 6px;
    }



}
/*extra small device (portrat phone, less than 576px)*/
@media (max-width: 575.98px){
    .box-left{
        width: 100%;
    }
    .box-rigth{
        width: 100%;
    }
    .box-23-box .left-rigth {
    display: flex;
    flex-wrap: wrap;
    }
    .box-22 .box-22-box .box-lo .box-1-img .box-img-img{
    width: 85px;
    height: 85px;
    top: 16%;
    left: 40%;

    }
    .box-left, .box-rigth{
        padding: 2px;
    }
    .box-22-box{
        border-bottom: none;
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        
    }
    .box-23-box{
        border-bottom: 1px solid grey;
        border-top: none;
        border-right: 1px solid grey;
    }
    /* .box-22-box{
        margin-top: 0;
    } */
     .find-box{
        display: none;
     }
    .box-6-bg .two-2-box-2 .find-work .title-find-work .txt-find h4{
        padding-left: 10px;
    }
    .head-background .h-b .head-box ul li a.find-box{
        display: none;
    }

    .head-background .head-box ul li.logo{
    margin-top: 6px;
    }




    
}